In [1]:
#working off the code of Aladdin Persson
import pandas as pd

In [2]:
#open the files
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_ids = test["PassengerId"]

#function to clean out the train.csv and test.csv
def clean(d):
    #drop in the values that dont make sense or don't provide any value
    data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis = 1)
    
    #create a new table
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace = True)
        
    data.Embarked.fillna("U", inplace = True)
    return data


data = clean(data)
test = clean(test)

In [3]:
from sklearn import preprocessing
#make predictive measures using pre-processing
label_encoder = preprocessing.LabelEncoder()

cols = ["Sex", "Embarked"]

for col in cols:
    #make a fit + transform both are types of graphs on the values
    data[col] = label_encoder.fit_transform(data[col])
    test[col] = label_encoder.transform(test[col])
    print(label_encoder.classes_)
    
data.head(5)

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [4]:
#import a machine learning poackage for regression and test split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split



y = data["Survived"]
X = data.drop("Survived", axis = 1)

#generate values for x + y
X_train, X_val, y_train, y_val = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [5]:
clf = LogisticRegression(random_state = 0, max_iter = 1000).fit(X_train, y_train)

In [6]:

#make the actual predictions
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score

#make an accuaracy using the regression model + test split
accuracy_score(y_val, predictions)

0.8100558659217877

In [7]:
#make a prediction for the submission
submission_preds = clf.predict(test)

In [8]:
# generate a table using predicitve model of passengerid and survived
df = pd.DataFrame({"PassengerId":test_ids.values,
                   "Survived": submission_preds,
                  })

In [9]:
#generate a new csv file
df.to_csv("submission.csv", index = False)